
services:
  # Service Flask (API)
  flask-app:
    build: ./flask-app
    container_name: flask_app
    restart: unless-stopped
    expose:
      - "5000"
    networks:
      - app-network

  # Service HTML statique
  html-app:
    build: ./html-app
    container_name: html_app
    restart: unless-stopped
    expose:
      - "80"
    networks:
      - app-network

  # Service Nginx (Reverse Proxy)
  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      flask-app:
        condition: service_started
      html-app:
        condition: service_started
    networks:
      - app-network

networks:
  app-network:
    driver: bridge


